html,
body {
  height: 100%;
  border: 0px;
  overflow-x: hidden;
}

* {
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(64, 77, 120);
}

::-webkit-scrollbar-thumb {
  background: rgba(114, 128, 173, 0.655);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(55, 67, 107);
}

.image-transition-enter {
  opacity: 0;
  transform: translateX(100%);
}

/* .image-transition-enter-done {
  width: 100%;
  align-items: center;
} */

/* .image-transition-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1000ms, transform 3000ms;
} */

.image-transition-exit {
  opacity: 0;
  transform: translateX(0);
}

/* .image-transition-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 300ms, transform 300ms;
} */

.image-wrapper {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  transform: translateX(calc(-50% + var(--touch-move-x, 0px)));
  transition: transform 0.3s ease;
}

.image-transition-swipe-left-enter {
  opacity: 0;
  transform: translateX(-100%);
}

/* .image-transition-swipe-left-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 1000ms, transform 300ms;
} */

.image-transition-swipe-left-exit {
  opacity: 0;
  transform: translateX(0%);
}

/* .image-transition-swipe-left-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 300ms, transform 300ms;
} */

.image-transition-swipe-right-enter {
  opacity: 0;
  transform: translateX(100%);
}

/* .image-transition-swipe-right-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 1000ms, transform 300ms;
} */

.image-transition-swipe-right-exit {
  opacity: 0;
  transform: translateX(0%);
}

/* .image-transition-swipe-right-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 300ms, transform 300ms;
} */

.main {
  display: flex;
  width: 100%;
  height: 100vh;
  background: rgb(5, 78, 113);
  background-image: linear-gradient(
    112.1deg,
    rgba(32, 38, 57, 1) 11.4%,
    rgba(63, 76, 119, 1) 70.2%
  );
}

.img-container {
  padding: 0 15px 0 15px;
  display: flex;
  position: absolute;
  overflow: hidden;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 15px;
  width: 40%;
  height: 60%;
  left: 7%;
  top: 14.5%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: rgba(157, 181, 194, 0.1);
  animation: backInLeft;
  animation-duration: 2s;
  user-select: none;
}

.text-container {
  user-select: none;
  display: flex;
  position: absolute;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  overflow-x: hidden;
  border-radius: 15px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 40%;
  height: 60%;
  right: 10%;
  top: 14.5%;
  background-color: rgba(157, 181, 194, 0.086);
  font-family: "Futura New";
  font-size: 24px;

  animation: backInRight;
  animation-duration: 2s;
}

.text {
  color: rgba(201, 215, 223, 0.871);
  font-size: 0.95em;
  padding: 2%;
  transition-duration: 0.2s;
}

.text:hover {
  color: rgba(217, 227, 232, 0.941);
}

.miner-logo {
  margin-top: auto;
  cursor: pointer;
  margin-bottom: auto;
  display: inline-block;
  width: 50%;
  transition: 0.2s ease;
}

.miner-logo:hover {
  size: 80px 80px;
}

.previus-btn {
  top: 45%;
  left: 0%;
  position: relative;
}

.next-btn {
  top: 45%;
  right: 0%;
  position: relative;
}

#btn {
  display: flex;
  padding: 0;
  margin: 0;
  color: rgba(157, 181, 194, 0.871);
  cursor: pointer;
  text-decoration: none;
  font-size: 200px;
  height: 0;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#btn:hover {
  color: rgba(197, 195, 206, 0.151);
  transition-duration: 0.2s;
}

@media (width < 500px) {
  .main {
    height: unset;
    width: unset;
    display: block;
  }

  .content-container {
    min-width: 100%;
    min-height: 100%;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }

  .img-container {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 93%;
    min-height: 350px;
    left: 0%;
    top: 0%;
    margin: 0;
    margin-top: 5%;
    margin-bottom: 2%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .text-container {
    border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 2%;
    margin-top: 0%;
    min-width: 100%;
    min-height: 100%;
    right: 0%;
    top: 0%;

    min-width: 100%;
    min-height: 100%;
    position: relative;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }

  .miner-logo {
    width: 80%;
  }

  .next-btn {
    right: 0%;
    top: 0%;
    position: relative;
  }

  .previus-btn {
    right: 0%;
    top: 0%;
    position: relative;
  }
}

@media (width < 1020) {
  .img-container {
    left: 5%;
    position: absolute;
  }

  .text-container {
    position: absolute;

    right: 8%;
  }
}
