::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(64, 77, 120);
}

::-webkit-scrollbar-thumb {
  background: rgba(114, 128, 173, 0.655);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(55, 67, 107);
}

.main {
  display: flex;
  width: 100%;
  height: 100vh;
  background: rgb(5, 78, 113);
  background-image: linear-gradient(
    112.1deg,
    rgba(32, 38, 57, 1) 11.4%,
    rgba(63, 76, 119, 1) 70.2%
  );
}

.img-container {
  padding: 0 15px 0 15px;
  display: flex;
  position: absolute;
  overflow: hidden;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 15px;
  width: 40%;
  height: 60%;
  left: 7%;
  top: 14.5%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: rgba(157, 181, 194, 0.1);
  animation: backInLeft;
  animation-duration: 2s;
  user-select: none;
}

.text-container {
  user-select: none;
  display: flex;
  position: absolute;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  overflow-x: hidden;
  border-radius: 15px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 40%;
  height: 60%;
  right: 10%;
  top: 14.5%;
  background-color: rgba(157, 181, 194, 0.086);
  font-family: "Futura New";
  font-size: 24px;

  animation: backInRight;
  animation-duration: 2s;
}

.text {
  color: rgba(201, 215, 223, 0.871);
  font-size: 0.95em;
  padding: 2%;
  transition-duration: 0.2s;
}

.text:hover {
  color: rgba(217, 227, 232, 0.941);
}

.miner-logo {
  margin-top: auto;
  cursor: pointer;
  margin-bottom: auto;
  display: inline-block;
  width: 53%;
  transition: 0.2s ease;
}

.miner-logo:hover {
  size: 80px 80px;
}

.previus-btn {
  right: 10%;
}

.next-btn {
  left: 10%;
}

#btn {
  display: flex;
  padding: 0;
  margin: 0;
  position: relative;
  color: rgba(157, 181, 194, 0.871);
  cursor: pointer;
  text-decoration: none;
  font-size: 200px;
  top: 45%;
  height: 0;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#btn:hover {
  color: rgba(197, 195, 206, 0.151);
  transition-duration: 0.2s;
}

@media (width < 500px) {
  .main {
    display: flex;
  }

  .img-container {
    position: relative;
    width: 90%;
    height: 100%;
    left: 0%;
    top: 0%;
    margin: 0;
    margin-top: 30%;
    margin-bottom: 2%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .text-container {
    border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    position: relative;
    margin-bottom: 8%;
    width: 90%;
    height: 100%;
    right: 0%;
    top: 0%;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .miner-logo {
    width: 80%;
  }
}
