.footer {
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 100%;
    height: 20%;
    background-color: rgba(9, 60, 88, 0.158);
    bottom: 0;
    left: 0;
}

.footer-text-logo {
    position: relative;
    margin-bottom: auto;
    margin-top: auto;
    font-weight: 400;
    font-size: 1.5rem;
    color: rgba(157, 181, 194, 0.871);
    left: 10%;
    width: 11%;
    transition-duration: 0.2s;
}

.footer-img-logo {
    position: relative;
    margin-bottom: auto;
    margin-top: auto;
    color: rgba(157, 181, 194, 0.871);
    left: 2.5%;
    width: 1%;
    transition-duration: 0.2s;
}

.footer-copy-rights {
    position: relative;
    margin-bottom: auto;
    margin-top: auto;
    font-weight: 400;
    font-size: 1rem;
    color: rgba(157, 181, 194, 0.871);
    left: 3.5%;
    transition-duration: 0.2s;
}

.contacts-text {
    position: relative;
    margin-bottom: auto;
    margin-top: auto;
    font-weight: 400;
    font-size: 1rem;
    color: rgba(157, 181, 194, 0.871);
    left: 18%;
    transition-duration: 0.2s;
}

.order-btn {
    position: relative;
    margin-bottom: auto;
    margin-top: auto;
    border-radius: 5px;
    color: rgba(157, 181, 194, 0.871);
    background-color: rgba(157, 181, 194, 0.342);
    padding: 0.6%;
    width: 12%;
    left: 39%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: bn53bounce 4s infinite;
    transition-duration: 0.2s;
    cursor: pointer;
    border: none;
}

.order-btn:hover {
    background-color: rgba(171, 168, 182, 0.349);
}

@keyframes bn53bounce {

    5%,
    50% {
        transform: scale(1);
    }

    10% {
        transform: scale(1);
    }

    15% {
        transform: scale(1);
    }

    20% {
        transform: scale(1) rotate(-5deg);
    }

    25% {
        transform: scale(1) rotate(5deg);
    }

    30% {
        transform: scale(1) rotate(-3deg);
    }

    35% {
        transform: scale(1) rotate(2deg);
    }

    40% {
        transform: scale(1) rotate(0);
    }
}