.footer {
    background-color: rgba(9, 60, 88, 0.158);
    position: absolute;
	z-index: 0;
	right: 0;
	bottom: 0;
	left: 0;
    height: 155px;
	display: flex;
	overflow: hidden;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}

.footer-text-logo {
    margin-right: 10px;
    margin-left: 5%;
    position: relative;
    font-weight: 400;
    font-size: 1.5rem;
    color: rgba(157, 181, 194, 0.871);
    transition-duration: 0.2s;
}

.footer-img-logo {
    color: rgba(157, 181, 194, 0.871);
    width: 1%;
    margin-right: 10px;
    transition-duration: 0.2s;
}

.footer-copy-rights {
	text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
    color: rgba(157, 181, 194, 0.871);
    transition-duration: 0.2s;
}

.contacts-text {
    margin: 0 10% 0 5%;
    font-weight: 400;
    font-size: 1.2rem;
    color: rgba(157, 181, 194, 0.871);
    transition-duration: 0.2s;
}

.order-btn {
    border-radius: 5px;
    color: rgba(157, 181, 194, 0.871);
    background-color: rgba(157, 181, 194, 0.342);
    padding: 0.6%;
    width: 190px;
    margin-right: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: bn53bounce 4s infinite;
    transition-duration: 0.2s;
    cursor: pointer;
    border: none;
}

.order-btn:hover {
    background-color: rgba(171, 168, 182, 0.349);
}

@keyframes bn53bounce {

    5%,
    50% {
        transform: scale(1);
    }

    10% {
        transform: scale(1);
    }

    15% {
        transform: scale(1);
    }

    20% {
        transform: scale(1) rotate(-5deg);
    }

    25% {
        transform: scale(1) rotate(5deg);
    }

    30% {
        transform: scale(1) rotate(-3deg);
    }

    35% {
        transform: scale(1) rotate(2deg);
    }

    40% {
        transform: scale(1) rotate(0);
    }
}